{% extends "base_with_navbar.html" %}
{% load static %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="column">
				<h1 class="edit-title">about</h1>
				<p>nomsable is a sleek and smart recipe management software. Its main principles are to be not overwhelming and deliver smart recipe suggestions based on different circumstances and personal preferences. It brings a recipe parser for recipe websites and slim editor to archive a pleasant experience when adding recipes. Most websites provide plenty of overwhelming animations, windows and commercials, obfuscating their content. Nomsable tries to fix this issue. The multi user capability makes it perfect for small groups of people, e.g. shared apartments. The recipes themselves are presented on a single page with a readable, but thematically fitting font to eliminate the need for scrolling or touching your device while cooking. It also aims to be accessible and non confusing.</p>

				<p>You came here by clicking on <a class="navigation-title" href="{% url 'core:about' %}"> »about« </a>, click on <a class="navigation-title" href="{% url 'core:add' %}"> »add« </a> to add a new recipe by link, or on <a class="navigation-title" href="/preferences"> »preferences« </a> to change your preferences. Click on 
				<a class="navigation-title" href="{% url 'core:index' %}"> »nomsable« </a> to get back to the main page.</p>
			</div>
		</div>
	</div>
{% endblock %}
