{% extends "base_with_navbar.html" %}

{% block body %}
<div class="container">
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ recipe_form.as_p }}
    
    {{ ingredient_form.management_form }}
    {% for form in ingredient_form.forms %}
      <div class="row">
        {{ form.as_p }}
      </div>
    {% endfor %}
    
    {{ instruction_form.management_form }}
    {% for form in instruction_form.forms %}
      <div class="row">
        {{ form.as_p }}
      </div>
    {% endfor %}
    <button type="submit" class="save btn btn-default">Save</button>
  </form>
</div>
{% endblock body %}
