{% extends "base.html" %}

{% block body %}
<div class="container">

  <div class="row">
  	<div class="column">
    	<table>
          <thead>
            <tr>
              <th><h4>what to cook?</h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Link to recipe A</td>
            </tr>
            <tr>
              <td>Link to recipe B</td>
            </tr>
            <tr>
              <td>Link to recipe C</td>
            </tr>
            <tr>
              <td>Link to recipe D</td>
            </tr>
            <tr>
              <td>Link to recipe E</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="row">
    <div class="column">
        <table>
          <thead>
            <tr>
              <th><h4>latest recipes</h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Link A</td>
            </tr>
            <tr>
              <td>Link B</td>
            </tr>
            <tr>
              <td>Link C</td>
            </tr>
            <tr>
              <td>Link D</td>
            </tr>
            <tr>
              <td>Link E</td>
            </tr>
          </tbody>
        </table></div>
    <div class="column">
        <table>
          <thead>
            <tr>
              <th><h4>most cooked</h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Link A</td>
            </tr>
            <tr>
              <td>Link B</td>
            </tr>
            <tr>
              <td>Link C</td>
            </tr>
            <tr>
              <td>Link D</td>
            </tr>
            <tr>
              <td>Link E</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock body %}
