{% extends "base_with_navbar.html" %}

{% block body %}
<div class="container">

  <div class="row">
  	<div class="column"> <h4 class="recipe-title">what to cook?</h4> </div>
  </div>
  {% for recipe in cook_next_recipes %}
    <div class="row">
      <div class="column">
        <a href="{% url 'core:detail' recipe_id=recipe.pk %}">{{ recipe.name }}</a>
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="column">
  <div class="row">
    <div class="column"> <h4 class="recipe-title">latest recipes</h4> </div>
      </div>
      {% for recipe in latest_recipes %}
        <div class="row">
          <div class="column">
            <a href="{% url 'core:detail' recipe_id=recipe.pk %}">{{ recipe.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="column">
      <div class="row">
        <div class="column"> <h4 class="recipe-title">most cooked</h4> </div>
      </div>
      {% for recipe in cook_next_recipes %}
        <div class="row">
          <div class="column">
            <a href="{% url 'core:detail' recipe_id=recipe.pk %}">{{ recipe.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}
