{% extends "base_with_navbar.html" %}
{% load serve_duration %}

{% block body %}
<div class="container">
  <h2 class="recipe-title">{{ recipe.name }}</h2>
  {% if recipe.origin_url is not None %}<a href="{{ recipe.origin_url }}" target=_blank>{% endif %}
    <h5 class="recipe-sub-title">
      {% if recipe.author is not None %} by {{ recipe.author }} {% endif %}
      {% if recipe.author is not None and recipe.publisher is not None %} ,&nbsp; {% endif %}
      {% if recipe.publisher is not None %} published by {{ recipe.publisher }} {% endif %}
    </h5>
  {% if recipe.origin_url is not None %}</a>{% endif %}
  <div class="row">
    <div class="column column-33">
      <h4>Ingredients</h4>
      <ul>
        {% for ingredient in recipe.ingredients.all %}
          {% if ingredient.ingredient.name != "" %}
            <li class="ingredient-list">
              {% if ingredient.quantity is not None %} {{ ingredient.quantity }} {% endif %}
              {% if ingredient.unit is not None %} {{ ingredient.unit }} {% endif %}
              {{ ingredient.ingredient.name }}
              <small class="ingredient-description"> {% if ingredient.description is not None %} {{ ingredient.description }} {% endif %}</small>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="row">
        {% if recipe.prep_time is not None %} <div class="column"><small>Preperation time<br> {{ recipe.prep_time|serve_duration }}</small></div> {% endif %}
        {% if recipe.cook_time is not None %} <div class="column"><small>Cook time<br> {{ recipe.cook_time|serve_duration }}</small></div> {% endif %}
        {% if recipe.total_time is not None %} <div class="column"><small>Total time<br> {{ recipe.total_time|serve_duration }}</small></div> {% endif %}
      </div>
      <br><small class="recipe-edit-link">edit this recipe</small>
    </div>
    <div class="column">
      <h4>Steps</h4>
      <div class="recipe-step-column">
        <ul>
          {% for step in recipe.instructions.all %}
          <li class="recipe-step">{{ step.text }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row recipe-title">
    {% if recipe.description is not None %} 
      <div class="column column-66">
        <h4>About the recipe</h4> {{ recipe.description }}
      </div>
    {% endif %}
    {% if recipe.description is not None %} 
      <div class="column">
        <img src="{{ recipe.image }}" alt="Image of {{ recipe.name }} served."> 
      </div>
    {% endif %}
  </div>
</div>
{% endblock body %}
