{% extends "base_with_navbar.html" %}

{% block body %}
<div class="container">
  <h3>{{ recipe.name }}</h3>
  <div class="row">
    <div class="column column-33">
      <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>
          {% if ingredient.quantity is not None %} {{ ingredient.quantity }} {% endif %}
          {% if ingredient.unit is not None %} {{ ingredient.unit }} {% endif %}
          {{ ingredient.ingredient.name }}
          <span class="ingredientDescription"> {% if ingredient.description is not None %} {{ ingredient.description }} {% endif %}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column">
      <ul>
        {% for step in recipe.instructions.all %}
        <li>{{ step.text }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock body %}
