{% extends "base_with_navbar.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="column column-offset-5 column-90 frontpage-search">
            <h2 class="frontpage-title">search</h2>
            <form method="POST" class="post-form frontpage-search">
                {% csrf_token %}
                <span class="form-error">{{ search_form.search.errors.0 }}</span>
                {{ search_form.search }}
            </form>
        </div>
    </div>
</div>
{% endblock body %}
