{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container" style="max-width: 70.0rem">
    <div style="margin: auto;   display: flex;
  align-items: center;
  justify-content: center;
">
        <img src="{% static 'logo.svg' %}" class="img" style="width: 10rem">
        <span style="font-size: 2.5rem">nomsable</span>
    </div>
    <h3>Sign up</h3>
    <form method="post">
        {% csrf_token %}

        <span class="form-error">{{ form.invite_code.errors.0 }}</span>
        {{ form.invite_code.label_tag }} {{ form.invite_code }}
        
        <span class="form-error">{{ form.username.errors.0 }}</span>
        {{ form.username.label_tag }} {{ form.username }}

        <span class="form-error">{{ form.name.errors.0 }}</span>
        {{ form.name.label_tag }} {{ form.name }}

        <span class="form-error">{{ form.email.errors.0 }}</span>
        {{ form.email.label_tag }} {{ form.email }}
        
        <span class="form-error">{{ form.password1.errors.0 }}</span>
        {{ form.password1.label_tag }} {{ form.password1 }}         
        <span class="form-error">{{ form.password2.errors.0 }}</span>
        {{ form.password2.label_tag }} {{ form.password2 }}

        <button class="button">Submit</button>
    </form>
</div>
{% endblock %}
