{% load compress %}
{% load static %}
<html lang="en">
    <head>
        <title>nomsable</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Leona Maroni, Jana Marie Hemsing">
        <meta name="description" content="digital recipe management">
        <meta name="keywords" content="recipe, food, lunch, dinner, noms, ingredient">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'normalize.css' %}">
        {% compress css %}
            <link type="text/x-sass" href="{% static 'milligram/milligram.sass' %}" rel="stylesheet">
        {% endcompress %}
    </head>
    <body>
        <main class="wrapper">
            {% block main %}{% endblock %}
      </main>
    </body>
</html>

